<div class="container">
  <h2>Lista de Eventos</h2>

  <!-- Botón para crear un nuevo evento -->
  <button class="btn btn-success mb-3" [routerLink]="['/evento/new']">Crear Nuevo Evento</button>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Fecha</th>
        <th>Lugar</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Deshabilitado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let evento of eventos | paginate: { itemsPerPage: itemsPerPage, currentPage: page }">
        <td>{{ evento.id }}</td>
        <td>{{ evento.fecha }}</td>
        <td>{{ evento.lugar }}</td>
        <td>{{ evento.descripcion }}</td>
        <td>{{ evento.precio }}</td>
        <td>{{ evento.desabilitado ? 'Sí' : 'No' }}</td>
        <td>
          <button class="btn btn-primary" [routerLink]="['/evento/edit', evento.id]">Editar</button>
          <button class="btn btn-danger" (click)="deleteEvento(evento.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Controles de paginación -->
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
